@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  margin: 0;
  padding: 0;
}

.head{
  display: flex;

}

.btn1{
  background-color: none;
  margin-right: 40px;
  border: none;
  padding: 5px 10px;
  background-color: inherit;
}

.head{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  width: 100%;
  height: 7vh;
  line-height: 7vh;
}
.logo{
  padding-left:3vh ;
}

.main{
  width: 100%;
  height: 20vh;
  background-color: #dadbf1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main h1{
  font-size: 50px;
}
.main input{
  width:30%;
  height: 4vh;
  /* margin-top: 10px; */
}
.card{
  width: 20vw;
  display: flex;
  flex-direction: row;
  height: 20vh;
}
.card .photo{
  width: 40wh;
}
.card .text{
  text-align: start;
}
.footer{
  width: 100%;
  background-color: #000000;
  height: 20vh;
  display: flex;
  flex-direction: row;
  color: white;
  gap: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.submit{
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
}